NewsApp-war/src/conf/xml-resources/web-service-references/UserSoapWebService_1/wsdl/localhost_8080/NewsApp-war/UserSoapWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap/" name="UserSoapWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap/" schemaLocation="http://localhost:8080/NewsApp-war/UserSoapWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="myItems">
<part name="parameters" element="tns:myItems"/>
</message>
<message name="myItemsResponse">
<part name="parameters" element="tns:myItemsResponse"/>
</message>
<message name="myBankAccounts">
<part name="parameters" element="tns:myBankAccounts"/>
</message>
<message name="myBankAccountsResponse">
<part name="parameters" element="tns:myBankAccountsResponse"/>
</message>
<message name="myBaskets">
<part name="parameters" element="tns:myBaskets"/>
</message>
<message name="myBasketsResponse">
<part name="parameters" element="tns:myBasketsResponse"/>
</message>
<message name="myItemsName">
<part name="parameters" element="tns:myItemsName"/>
</message>
<message name="myItemsNameResponse">
<part name="parameters" element="tns:myItemsNameResponse"/>
</message>
<message name="myBasketsName">
<part name="parameters" element="tns:myBasketsName"/>
</message>
<message name="myBasketsNameResponse">
<part name="parameters" element="tns:myBasketsNameResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<portType name="UserSoapWebService">
<operation name="remove">
<input wsam:Action="http://soap/UserSoapWebService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://soap/UserSoapWebService/countRequest" message="tns:count"/>
<output wsam:Action="http://soap/UserSoapWebService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://soap/UserSoapWebService/findRequest" message="tns:find"/>
<output wsam:Action="http://soap/UserSoapWebService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://soap/UserSoapWebService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://soap/UserSoapWebService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://soap/UserSoapWebService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="myItems">
<input wsam:Action="http://soap/UserSoapWebService/myItemsRequest" message="tns:myItems"/>
<output wsam:Action="http://soap/UserSoapWebService/myItemsResponse" message="tns:myItemsResponse"/>
</operation>
<operation name="myBankAccounts">
<input wsam:Action="http://soap/UserSoapWebService/myBankAccountsRequest" message="tns:myBankAccounts"/>
<output wsam:Action="http://soap/UserSoapWebService/myBankAccountsResponse" message="tns:myBankAccountsResponse"/>
</operation>
<operation name="myBaskets">
<input wsam:Action="http://soap/UserSoapWebService/myBasketsRequest" message="tns:myBaskets"/>
<output wsam:Action="http://soap/UserSoapWebService/myBasketsResponse" message="tns:myBasketsResponse"/>
</operation>
<operation name="myItemsName">
<input wsam:Action="http://soap/UserSoapWebService/myItemsNameRequest" message="tns:myItemsName"/>
<output wsam:Action="http://soap/UserSoapWebService/myItemsNameResponse" message="tns:myItemsNameResponse"/>
</operation>
<operation name="myBasketsName">
<input wsam:Action="http://soap/UserSoapWebService/myBasketsNameRequest" message="tns:myBasketsName"/>
<output wsam:Action="http://soap/UserSoapWebService/myBasketsNameResponse" message="tns:myBasketsNameResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://soap/UserSoapWebService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://soap/UserSoapWebService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://soap/UserSoapWebService/edit" message="tns:edit"/>
</operation>
</portType>
<binding name="UserSoapWebServicePortBinding" type="tns:UserSoapWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="myItems">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="myBankAccounts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="myBaskets">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="myItemsName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="myBasketsName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="UserSoapWebService">
<port name="UserSoapWebServicePort" binding="tns:UserSoapWebServicePortBinding">
<soap:address location="http://localhost:8080/NewsApp-war/UserSoapWebService"/>
</port>
</service>
</definitions>